{% extends 'layout/main.html' %}
{% set title = '修改密码' %}

{% block content %}
    <section class="panel">
        <header class="panel-heading">
            <h3>修改密码</h3>
        </header>
    </section>
    <section class="panel">
        <div class="panel-body">
            <form method="post" action="{{ url_for('home.change_password') }}" id="change_password_form">
                <div id="demo-lft-tab-1" class="tab-pane fade active in">
                    <div class="form-horizontal font-12 mt15">
                        {{ change_password_form.hidden_tag() }}
                        <div class="form-group">
                            <label class="col-xs-1 control-label">原密码</label>
                            <div class="col-xs-5 ">
                                {{ change_password_form.password(class="form-control w200") }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-1 control-label">输入新密码</label>
                            <div class="col-xs-5 ">
                                {{ change_password_form.new_password(class="form-control w200") }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-1 control-label">确认新密码</label>
                            <div class="col-xs-5 ">
                                {{ change_password_form.confirm_new_password(class="form-control w200") }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-1 control-label"></label>
                            <div class="col-xs-5">
                                <button type="submit" class="btn btn-primary btn-flat" id="sureBtn">确定</button>
                                <a href="{{ url_for('home.index') }}" class="btn btn-primary btn-flat">取消</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>


{% endblock %}

{% block script %}
    <script type="text/javascript">
        {#        $.support.transition = false#}

        var change_password_form = $('#change_password_form');
        change_password_form.submit(function (e) {
            e.preventDefault();
            var btn = $(this).find('button[type="submit"]');
            if ($("#new_password").val().length < 6) {
                layer.msg("新密码至少包含6个字符")
            } else {
                change_password_form.resetFieldErrors()
                        .ajaxSubmit(function () {
                            layer.msg('修改成功');
                            setTimeout(function () {
                                window.history.back(-1);
                            }, 1000)
                        }).error(function (xhr) {
                    if (xhr.responseJSON.code == 1002) {
                        layer.msg("原密码输入有误")
                    } else if (xhr.responseJSON.code == 400) {
                        layer.msg("新密码输入有误")
                    } else if (change_password_form.applyFieldErrors(xhr, {
                                handler: 'popover-and-highlight'
                            })) {
                        layer.msg('信息填写错误');
                    }
                }).always(function (data) {
                    btn.button('reset');
                });
            }

        });
    </script>
{% endblock %}